name: Test Kernel

on:
  workflow_dispatch:
  push:

jobs:
  sel4-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: ["spike", "qemu-arm-virt"]
        mcs_option: ["-m", ""]
        smc_option: ["-s", ""]
        smp_option: ["-N 4", ""]
        include:
          - platform: "qemu-arm-virt"
            arch: "aarch64"
          - platform: "spike"
            arch: "riscv64"
          - smp_option: "-N 4"
            smp_simulation: "--cpu-num 4"
            timeout_minutes: 15
          - smp_option: ""
            smp_simulation: ""
            timeout_minutes: 4
        exclude:
          - platform: "spike"
            smc_option: "-s"
          # 由于 rel4-integral issues/38 导致的问题，暂时取消这个 CI 测试
          - platform: "spike"
            smc_option: ""
            mcs_option: "-m"
            smp_option: "-N 4"
    container:
      image: ghcr.io/rel4team2/rel4_dev:no_mirror
      options: --user=root
    steps:
      - uses: actions/checkout@v5
        with:
          path: 'rel4_kernel'
      - uses: ./rel4_kernel/.github/actions/env-setup
      - name: Build
        run: cd sel4-test/rel4_kernel && cargo xtask run -p ${{ matrix.platform }} ${{ matrix.smc_option }} ${{ matrix.mcs_option }} ${{ matrix.smp_option}} --bin | tee 1.log
        timeout-minutes: ${{ matrix.timeout_minutes }}
        continue-on-error: true
      - name: Parse Result
        run: sel4-test/rel4_kernel/.github/workflows/parse.py sel4-test/rel4_kernel/1.log

  rel4-bench:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/rel4team2/rel4_dev:no_mirror
      options: --user=root
    steps:
      - uses: actions/checkout@v5
        with:
          path: 'rel4_kernel'
      - uses: ./rel4_kernel/.github/actions/env-setup
      - name: Build
        working-directory: sel4-test/rel4_kernel
        run: cargo xtask build -p qemu-arm-virt --arm-ptmr --arm-pcnt --benchmark
      - name: run
        timeout-minutes: 1
        continue-on-error: true
        working-directory: sel4-test/rel4_kernel/target/sel4-bench
        run: qemu-system-aarch64 -machine virt -cpu cortex-a53 -nographic -smp 1 -m 1024 -kernel images/sel4benchapp-image-arm-qemu-arm-virt | tee 1.log
      - name: Parse Result
        run: sel4-test/rel4_kernel/.github/workflows/parse.py sel4-test/rel4_kernel/target/sel4-bench/1.log

  rel4-build-artifact:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/rel4team2/rel4_dev:no_mirror
      options: --user=root
    steps:
      - uses: actions/checkout@v5
        with:
          path: 'rel4_kernel'
      - uses: ./rel4_kernel/.github/actions/env-setup
      - name: Build
        run: cd sel4-test/rel4_kernel && cargo xtask install --platform qemu-arm-virt -s --arm-pcnt --arm-ptmr
      - name: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: rel4
          path: sel4-test/rel4_kernel/target/kernel-install

  rel4-test-linux:
    needs: rel4-build-artifact
    uses: rel4team2/rel4-linux-kit/.github/workflows/test.yml@main
    with:
      artifact_name: rel4
