name: Test Kernel

on:
  workflow_dispatch:
  push:

jobs:
  sel4-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: ["spike", "qemu-arm-virt"]
        mcs_option: ["-m", ""]
        smc_option: ["-s", ""]
        smp_option: ["-N 4", ""]
        include:
          - platform: "qemu-arm-virt"
            arch: "aarch64"
          - platform: "spike"
            arch: "riscv64"
          - smp_option: "-N 4"
            smp_simulation: "--cpu-num 4"
            timeout_minutes: 15
          - smp_option: ""
            smp_simulation: ""
            timeout_minutes: 3
        exclude:
          - platform: "spike"
            smc_option: "-s"
          # 由于 rel4-integral issues/38 导致的问题，暂时取消这个 CI 测试
          - platform: "spike"
            smc_option: ""
            mcs_option: "-m"
            smp_option: "-N 4"
    container:
      image: ghcr.io/rel4team2/rel4_dev:no_mirror
      options: --user=root
    defaults:
      run:
        working-directory: ./sel4-test
    steps:
      - run: mkdir sel4-test
        working-directory: .
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-11-18
          components: rust-src rustfmt
          rustflags:
          target: riscv64gc-unknown-none-elf aarch64-unknown-none-softfloat
      - name: Clone Menifest && Sync repositories
        run: | 
          repo init -u https://github.com/reL4team2/sel4test-manifest.git -b ci-test 
          sed -i "19c\ \t<project name=\"rel4-integral.git\" path=\"rel4_kernel\" revision=\"${{ github.sha }}\" remote=\"seL4_kernel\" upstream=\"master\" dest-branch=\"master\"/>"  .repo/manifests/default.xml
          repo sync
      - run: cd kernel && git checkout master
      - name: Build
        run: cd rel4_kernel && cargo xtask build -p ${{ matrix.platform }} ${{ matrix.smc_option }} ${{ matrix.mcs_option }} ${{ matrix.smp_option}} --bin
      - name: simulate
        run: cd rel4_kernel/target/sel4-test && ./simulate ${{ matrix.smp_simulation }} > 1.log
        timeout-minutes: ${{ matrix.timeout_minutes }}
        continue-on-error: true
      - run: cat rel4_kernel/target/sel4-test/1.log
      - name: Check Result
        run: rel4_kernel/.github/workflows/parse.py rel4_kernel/target/sel4-test/1.log
  rel4-build-artifact:
    runs-on: ubuntu-latest
    container:
      image: croakexciting/rel4_dev:0.0.8
      options: --user=root
    defaults:
      run:
        working-directory: ./sel4-test
    steps:
      - run: mkdir sel4-test
        working-directory: .
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-11-18
          components: rust-src rustfmt
          rustflags:
          target: riscv64gc-unknown-none-elf aarch64-unknown-none-softfloat
      - name: Clone Menifest && Sync repositories
        run: | 
          repo init -u https://github.com/reL4team2/sel4test-manifest.git -b ci-test 
          sed -i "19c\ \t<project name=\"rel4-integral.git\" path=\"rel4_kernel\" revision=\"${{ github.sha }}\" remote=\"seL4_kernel\" upstream=\"master\" dest-branch=\"master\"/>"  .repo/manifests/default.xml
          repo sync
      - run: cd kernel && git checkout master
      - name: Build
        run: cd rel4_kernel && cargo xtask install --platform qemu-arm-virt -s --arm-pcnt --arm-ptmr
      - name: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: rel4
          path: rel4_kernel/target/kernel-install
  rel4-test-linux:
    needs: rel4-build-artifact
    uses: rel4team2/rel4-linux-kit/.github/workflows/test.yml@main
    with:
      artifact_name: rel4
